:root > * {
    --md-code-bg-color: #131918;
    --md-admonition-icon--terminal: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.25 12a.75.75 0 0 1-.22.53l-2.75 2.75a.75.75 0 0 1-1.06-1.06L7.44 12 5.22 9.78a.75.75 0 1 1 1.06-1.06l2.75 2.75c.141.14.22.331.22.53Zm2 2a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5h-5Z"/><path d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0 1 22.25 21H1.75A1.75 1.75 0 0 1 0 19.25Zm1.75-.25a.25.25 0 0 0-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V4.75a.25.25 0 0 0-.25-.25Z"/></svg>');
    --md-admonition-icon--terminal_success: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.25 12a.75.75 0 0 1-.22.53l-2.75 2.75a.75.75 0 0 1-1.06-1.06L7.44 12 5.22 9.78a.75.75 0 1 1 1.06-1.06l2.75 2.75c.141.14.22.331.22.53Zm2 2a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5h-5Z"/><path d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0 1 22.25 21H1.75A1.75 1.75 0 0 1 0 19.25Zm1.75-.25a.25.25 0 0 0-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V4.75a.25.25 0 0 0-.25-.25Z"/></svg>');
    --md-admonition-icon--terminal_failure: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.25 12a.75.75 0 0 1-.22.53l-2.75 2.75a.75.75 0 0 1-1.06-1.06L7.44 12 5.22 9.78a.75.75 0 1 1 1.06-1.06l2.75 2.75c.141.14.22.331.22.53Zm2 2a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5h-5Z"/><path d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0 1 22.25 21H1.75A1.75 1.75 0 0 1 0 19.25Zm1.75-.25a.25.25 0 0 0-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V4.75a.25.25 0 0 0-.25-.25Z"/></svg>');
    --md-admonition-icon--files: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 4H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-8l-2-2Z"></path></svg>');
}

.md-typeset .admonition.terminal,
.md-typeset details.terminal {
  border-color: rgb(50, 50, 50);
  background-color: #0a1113;
}
.md-typeset .terminal > .admonition-title,
.md-typeset .terminal > summary {
  background-color: #131918;
}
.md-typeset .terminal > .admonition-title::before,
.md-typeset .terminal > summary::before {
  background-color: rgb(164, 164, 164);
  -webkit-mask-image: var(--md-admonition-icon--terminal);
          mask-image: var(--md-admonition-icon--terminal);
}

.md-typeset .admonition.terminal_success,
.md-typeset details.terminal_success {
  border-color: rgb(43, 155, 70);
  background-color: #0a1113;
}
.md-typeset .terminal_success > .admonition-title,
.md-typeset .terminal_success > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .terminal_success > .admonition-title::before,
.md-typeset .terminal_success > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--terminal_success);
          mask-image: var(--md-admonition-icon--terminal_success);
}

.md-typeset .admonition.terminal_failure,
.md-typeset details.terminal_failure {
  border-color: #ff5252;
  background-color: #0a1113;
}
.md-typeset .terminal_failure > .admonition-title,
.md-typeset .terminal_failure > summary {
  background-color: #ff52521a;
}
.md-typeset .terminal_failure > .admonition-title::before,
.md-typeset .terminal_failure > summary::before {
  background-color: #ff5252;
  -webkit-mask-image: var(--md-admonition-icon--terminal_failure);
          mask-image: var(--md-admonition-icon--terminal_failure);
}

.admonition.files ul {
  list-style-type: none;
  font-family: "Fira Code";
}
.admonition.files img {
  width: 20px;
  vertical-align: -25%;
  margin: 0 4px 0 4px;
  }
.md-typeset .admonition.files,
.md-typeset details.files {
  border-color: rgb(50, 50, 50);
  background-color: #20272d;
}
.md-typeset .files > .admonition-title,
.md-typeset .files > summary {
  background-color: #131918;
}
.md-typeset .files > .admonition-title::before,
.md-typeset .files > summary::before {
  background-color: rgb(164, 164, 164);
  -webkit-mask-image: var(--md-admonition-icon--files);
          mask-image: var(--md-admonition-icon--files);
}